<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grade Form</title>
    <div th:replace="pagefragments :: header_styles"/>
</head>
<body>

<form th:action="@{/grade/add}" method="post" th:object="${grade}">
    <input type="number" th:value="${studentId}" name="studentIdValue" hidden>

    <label for="gradeValueInput">Grade value:</label> <input id="gradeValueInput" type="number" min="2" max="6"
                                                             step="0.5" th:field="*{value}"><br/>

    <label for="subject">Subject:</label>
    <select id="subject" th:field="*{subject}">
            <option th:each="subjectType : ${allSubjects}" th:value="${subjectType}" th:text="${subjectType.name}">
            </option>
    </select>

    <br/>
    <input type="submit">
</form>

<div th:replace="pagefragments :: footer_scripts"/>
</body>
</html>